 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
 }

 body{
   height: 100vh;
   background: linear-gradient(45deg,#71b7e6,#9b59b6);
 
 }

 .title-add{
   font-size: 25px;
 }

 .container{
   max-width: 900px;
   margin: 0 auto;
 }

 .apply-box{
   max-width: 600px;
   margin: 0 auto;
   padding: 20px;
   margin-top:50px ;
   background-color: #fff;
   border-radius: 8px;
   box-shadow: 4px 2px 15px rgba(2, 5, 3, 0.2);
 }

 .form-container{
   margin-top: 30px;
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
   gap: 20px;
 }

 .input-box{
   display: flex;
   flex-direction: column;
 }

 label{
   font-size: 1rem;
   margin-bottom: 5px;
 }

 input,select,textarea{
   padding: 6px 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 15px;
 }

 input,select,textarea:focus{
   outline-color: #71b7e6;
 }

 .container-button{
   display: flex;
   justify-content: flex-end;
   margin-top: 30px;
 }

 button{
   background-color: #71b7e9;
   padding: 6px 20px;
   color: #000;
   border: transparent solid 2px;
   cursor: pointer;
   transition: 0.3s ease-in;
 }

 button:hover{
   background-color: #9b59b6;
   color: #fff;
   transition: 0.3s ease-out;
   cursor: pointer;
 }

 .textarea-control{
   grid-column: 1/span 2;
 }

 @media (max-width:460px){
   .container{
      max-width: 400px;
    }
   
    .apply-box{
      max-width: 350px;
    }

   .textarea-control{
      grid-column: 1/span 1;
    }
 };




